<!-- end form to enter tweets-->
<div class="container">

  <!-- begin nav -->
  <div class="row">
    <div class="col-lg-12">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Noobtwit</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class=""><a href="#">Logged in as <strong><%= current_user.name %></strong>!</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><%= link_to "Logout", logout_path, method: :delete %></li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <!-- end nav -->


  <!-- begin panel to show basic info -->
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-info basic-info">
        <div class="panel-heading">
          <%= image_tag current_user.profile_pic, id: "profile-picture" %>
          <span><strong><%= current_user.name %></strong></span>
        </div>

        <div class="panel-body">
          <span>Handle: @<%= current_user.screen_name %></span>
          <span>Tweets: <%= current_user.number_of_tweets %></span>
          <span>Following: <%= current_user.number_of_following %></span>
          <span>Followers: <%= current_user.number_of_followers %></span>
        </div>
      </div>
    </div>
  </div>
  <!-- end panel to show basic info -->


  <!-- begin form to enter tweets-->
  <div class="row create-tweet">
    <div class="col-lg-6">
      <div class="well bs-component">
        <%= form_for current_user, url: users_path(current_user), method: :put, html: { class: "form-horizontal" } do |f| %>
          <fieldset>
            <div class="form-group">
              <label for="textArea" class="col-lg-2 control-label">Tweet</label>

              <div class="col-lg-10">
                <textarea name="user[tweet]" class="form-control control" rows="3" id="textArea"></textarea>
              </div>
            </div>
            <div class="form-group">
              <div class="col-lg-10 col-lg-offset-2">
                <%= f.submit "Cancel", type: "reset", class: "btn btn-default" %>
                <%= f.submit "Submit", class: "btn btn-primary" %>
              </div>
            </div>
          </fieldset>
        <% end %>
      </div>
    </div>
  </div>


  <!-- begin feed display -->
  <div class="row feed-container">
    <div class="col-lg-12">
      <% current_user.feed.each do |tweet| %>
        <div class="panel panel-info">
          <div class="panel-heading">

            <%= link_to users_path(tweet_id: tweet.id), method: :put do %>
              <% if tweet.favorited? %>
                <i class="glyphicon glyphicon-star"></i>
              <% else %>
                <i class="glyphicon glyphicon-star-empty"></i>
              <% end %>
            <% end %>

            <span class="time-in-words"><%= distance_of_time_in_words(tweet.created_at, Time.now) %> ago</span>
            <span><strong><%= tweet.user.name %></strong></span>
            <span>@<%= tweet.user.screen_name %></span>
          </div>
          <div class="panel-body">
            <p><%= tweet.text %></p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <!-- end feed display -->

  <!-- end of page-->
</div>
